<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shahin.quranmisharyrashid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.PlayerActivity"
            android:configChanges="locale|orientation|screenSize"
            android:label="@string/quran_juz_amm_recitation_by_mishary_rashid"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AzkarSabahMasaaActivity"
            android:label="@string/azkar_sabah_masaa"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.FridayAndAlkahfActivity"
            android:label="@string/friday_kahf"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AltawbaActivity"
            android:label="@string/altawba"
            android:parentActivityName=".Activities.MainActivity"></activity>

        <activity
            android:label="@string/tasabeeh"
            android:name=".Activities.TasabeehAzkarActivity"
            android:parentActivityName=".Activities.MainActivity">

        </activity>

    </application>

</manifest>